.formGroup
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: repeat(4, 1fr)
  grid-column-gap: 15px
  grid-row-gap: 15px
  font-size: 1.2em
  .formArray
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0
    padding: 30px
    &__border--red
      box-shadow: rgb(249, 11, 11) 0 2px 8px 0

.card__header
  display: grid
  grid-template-columns: repeat(1, 13fr 1fr)
  grid-template-rows: 1fr
  &--title
    display: flex
    flex-direction: column
  &--close
    cursor: pointer

.image__container
  &--plos
    width: -webkit-fill-available

.card__abstract
  &--noShowAbstract
    position: absolute
    top: 139%
    font-size: 1.5em

.card__buttons
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: 1fr
  grid-column-gap: 30px
