.card
  display: flex
  flex-direction: column
  justify-content: space-between
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0
  padding: 15px
  &__header
    display: flex
    flex-direction: row
  &__title--subtitle
    display: flex
    flex-direction: column
  &__buttons
    display: flex
    flex-direction: row
    gap: 10px

.card__border--red
  box-shadow: rgb(249, 11, 11) 0 2px 8px 0
