<div class="content">
  <div>
    <app-card-creation (createCardEmitter)="createCard($event)" [cardArticle]="articleToEdit" ></app-card-creation>
  </div>
  <div fxLayout="row wrap" class="content__cards">
    <div fxFlex="33%" *ngFor="let article of articles">
      <mat-card class="content__cards--card">
        <mat-card-header>
          <mat-card-title>{{article.title_display}}</mat-card-title>
          <mat-card-subtitle>{{article.journal}}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image *ngIf="article.journal.toUpperCase().includes('PLOS')" src="../../../assets/img/descarga.png"/>
        <img mat-card-image *ngIf="!article.journal.toUpperCase().includes('PLOS')" src="../../../assets/img/not_found.png"/>
        <mat-card-content>
          <p>
            {{article.abstract}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div class="card__actions">
            <button mat-raised-button color="primary" class="card__actions--btn" (click)="editCard(article)">Edit</button>
            <button mat-raised-button color="accent" class="card__actions--btn">Show Abstract</button>
            <button mat-raised-button color="warn" class="card__actions--btn">Cancel</button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
