.content

  &__cards
    margin: 50px

  &__cards--card
    border: 1px solid
    box-shadow: 5px #5375ed
    margin: 10px

    &__actions
      display: flex
      justify-content: space-between

      &--button
        margin: 10px

