<p>
  <mat-toolbar color="primary">

    <span>Stage 2 - Test</span>
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button">
      <li class="button__li">
        <a class="button__li--dashboard" routerLink="/dashboard">Dashboard</a>
      </li>
    </button>
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon " aria-label="Example icon-button ">
      <li class="button__li">
        <a class="button__li--dashboard" routerLink="/profile">Profile</a>
      </li>
    </button>
    <span class="example-spacer"></span>

    <button mat-icon-button class="example-icon " aria-label="Example icon-button ">
      <li class="button__li">
        <a class="button__li--dashboard" routerLink="/schedule">Schedule</a>
      </li>
    </button>
    <span class="example-spacer"></span>

  </mat-toolbar>
</p>
