<div class="form">
  <h2 class="container__title">Publish Your Research </h2>

  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="articleTitle">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Journal</mat-label>
    <input matInput [(ngModel)]="articleJournal">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Abstract</mat-label>
    <textarea matInput [(ngModel)]="articleAbstract"></textarea>
  </mat-form-field>

  <div class="container__div">
    <button mat-raised-button color="{{changeBtn ? 'accent' : 'primary'}}" (click)="addArticle()">{{changeBtn ? 'Update' : 'Add'}}</button>
  </div>
</div>
